@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(720deg)
    }
}

.outfit-uniqueClass {
    font-family: "Outfit",serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

body {
    background-image: url(images/le_fond_pc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.Desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.progress-bar {
    width: 75%;
    left: 12%;
    top: 260px;
    height: 50px;
    background: linear-gradient(to right,#889e8e 0,#889e8e 20%,#9ba383 50%,#a48283 100%);
    border-radius: 10px;
    position: relative
}

.progress-level {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #5d8fee;
    transform: rotate(180deg);
    position: absolute;
    top: -15px
}

.overlay {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 9999
}

.modal-content {
    position: relative;
    width: 529px;
    height: 404px
}

.modal-background {
    width: 100%;
    height: 100%;
    opacity: .4;
    background: linear-gradient(270deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px;
    position: absolute
}

.modal-title {
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translatex(-50%);
    width: 163px;
    height: 31px;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400
}

.modal-icon {
    top: 20px;
    left: 27%;
    width: 40px;
    height: 40px;
    border-radius: 3px
}

.modal-black-bg,.modal-dropdown,.modal-icon {
    position: absolute;
    transform: translatex(-50%)
}

.modal-black-bg {
    bottom: 20px;
    left: 50%;
    width: 461px;
    height: 294px;
    opacity: .3;
    background: #000;
    border-radius: 33px
}

.modal-dropdown {
    bottom: 40px;
    top: 120px;
    left: 55%;
    width: 211px;
    height: 50px;
    color: #fff;
    font-size: 40px;
    font-family: Outfit;
    font-weight: 600
}

.content {
    display: none
}

.content.active {
    display: block
}

.rotate-on-click {
    animation: spin 1s linear 1;
    transform-origin: center
}

.VectorDefault {
    cursor: pointer
}

.pollution-unit {
    font-size: 30px;
    vertical-align: super;
    margin-left: 5px
}

div.Desktop {
    width: 1440px;
    height: 1024px
}

div.MenuPr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1305px;
    height: 860px;
    left: 67px;
    top: 63px;
    position: absolute;
    opacity: .9;
    background: #6c8f93;
    border-radius: 33px;
    border: 2px #5388f0 solid;
    filter: blur(2px)
}

button,input {
    left: 169px;
    font-size: 16px;
    border-radius: 33px
}

button {
    top: 300px;
    width: 306px;
    padding: 15px 25px;
    font-family: Outfit,sans-serif;
    color: #fff;
    background: rgba(225,255,173,.4);
    border: 0;
    cursor: pointer;
    box-shadow: rgba(0,0,0,.1)0 4px 6px;
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
    transform: scale(1)
}

div.InfosDuXxXxXxxx {
    width: 257px;
    height: 38px;
    left: 1022px;
    top: 295px;
    position: absolute;
    color: #fff;
    font-size: 25px;
    font-family: Outfit;
    font-weight: 600;
    word-wrap: break-word
}

input {
    width: 280px;
    padding: 12.5px;
    border: 2px solid rgba(225,255,173,.4)
}

button,div.C,img.Image1,input,p {
    position: absolute
}

input,p {
    display: none;
    top: 300px;
    font-family: "Outfit",sans-serif
}

p {
    color: red;
    left: 580px;
    font-size: 14px
}

div.C {
    width: 284px;
    height: 114px;
    left: 236px;
    top: 146px;
    text-align: center;
    color: #fff;
    font-size: 100px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

div.material-symbols-outlined {
    width: 64.5px;
    height: 64.5px;
    left: 200px;
    top: 182px;
    position: absolute;
    border-radius: 3px
}

div.ClermontFerrandFrance {
    width: 696px;
    height: 67px;
    left: 475px;
    top: 179px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

img.Image1 {
    width: 96px;
    height: 96px;
    left: 1175px;
    top: 166px
}

div.Rectangle1,div.Rectangle2 {
    width: 306px;
    height: 126px;
    left: 169px;
    top: 367px;
    position: absolute;
    opacity: .4;
    background: linear-gradient(270deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px
}

div.Rectangle2 {
    top: 534px
}

div.Ellipse1,div.Ellipse2 {
    width: 91px;
    height: 91px;
    left: 183px;
    top: 385px;
    position: absolute;
    opacity: .3;
    background: #000;
    box-shadow: 0 4px 27.700000762939453px 4px rgba(0,0,0,.25);
    border-radius: 9999px
}

div.Ellipse2 {
    left: 181px;
    top: 553px
}

div.Rainy {
    width: 58.33px;
    height: 58.39px;
    left: 196.83px;
    top: 567.83px;
    position: absolute;
    border-radius: 2px
}

div.KmH,div.VitesseDuVent {
    width: 137px;
    height: 31px;
    left: 303px;
    top: 386px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word
}

div.KmH {
    width: 200px;
    height: 51px;
    left: 300px;
    top: 417px;
    font-size: 40px;
    font-weight: 600
}

div.Rectangle7 {
    width: 306px;
    height: 293px;
    left: 567px;
    top: 367px;
    position: absolute;
    opacity: .4;
    background: linear-gradient(270deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px
}

div.PlusDInfos {
    width: 274px;
    height: 23px;
    left: 580px;
    top: 626px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word
}

div.Rectangle8 {
    width: 306px;
    height: 126px;
    left: 965px;
    top: 367px;
    position: absolute;
    opacity: .4;
    background: linear-gradient(270deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px
}

div.Ellipse5 {
    width: 91px;
    height: 91px;
    left: 979px;
    top: 385px;
    position: absolute;
    opacity: .3;
    background: #000;
    box-shadow: 0 4px 27.700000762939453px 4px rgba(0,0,0,.25);
    border-radius: 9999px
}

div.Hpa,div.PressionAtmosphRique {
    width: 159px;
    height: 31px;
    left: 1099px;
    top: 384px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word
}

div.Hpa {
    width: 188px;
    height: 51px;
    left: 1096px;
    top: 417px;
    font-size: 40px;
    font-weight: 600
}

div.Rectangle9 {
    width: 306px;
    height: 126px;
    left: 965px;
    top: 534px;
    position: absolute;
    opacity: .4;
    background: linear-gradient(270deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px
}

div.PlusDInfos2 {
    width: 274px;
    height: 23px;
    left: 1061px;
    top: 626px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    text-decoration: underline;
    word-wrap: break-word
}

div.Ellipse6,div.IndiceUv {
    top: 553px;
    position: absolute
}

div.Ellipse6 {
    width: 91px;
    height: 91px;
    left: 979px;
    opacity: .3;
    background: #000;
    box-shadow: 0 4px 27.700000762939453px 4px rgba(0,0,0,.25);
    border-radius: 9999px
}

div.IndiceUv {
    width: 137px;
    height: 31px;
    left: 1099px;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word
}

div.uvvalue {
    width: 138px;
    height: 51px;
    left: 1099px;
    top: 588px;
    font-size: 40px;
    font-weight: 600
}

div.Mm,div.QuantitDePluie,div.uvvalue {
    position: absolute;
    color: #fff;
    font-family: Outfit;
    word-wrap: break-word
}

div.Mm {
    width: 138px;
    height: 51px;
    left: 300px;
    top: 589px;
    font-size: 40px;
    font-weight: 600
}

div.QuantitDePluie {
    left: 293px;
    top: 553px;
    font-size: 20px;
    font-weight: 400
}

div.Rectangle5,div.Rectangle6 {
    width: 278px;
    height: 62px;
    top: 90px;
    position: absolute;
    opacity: .8;
    border-radius: 33px
}

div.Rectangle6 {
    left: 1007px;
    background: #5d8fee
}

div.Rectangle5 {
    left: 1059px;
    background: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center
}

div.Connect5min {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

div.BasemapImage {
    width: 1010px;
    height: 120px;
    left: 226px;
    top: 761px;
    position: absolute;
    border-radius: 33px;
    overflow: hidden
}

div.VectorDefault {
    width: 30px;
    height: 30px;
    left: 1020px;
    top: 106px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

div.LightMode {
    width: 60px;
    height: 60px;
    left: 995px;
    top: 568px;
    position: absolute
}

div.Group52,div.Rectangle16 {
    width: 261px;
    height: 195px;
    left: 590px;
    top: 425px;
    position: absolute;
    opacity: .75
}

div.Rectangle16 {
    width: 260px;
    left: 0;
    top: 0;
    background: #faedff;
    border-radius: 75px
}

div.PollutionDansLAir {
    width: 163px;
    height: 31px;
    left: 669px;
    top: 385px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 400;
    word-wrap: break-word
}

a,div.EmplacementDeLaStationMTO {
    font-family: Outfit;
    font-weight: 500;
    word-wrap: break-word
}

div.EmplacementDeLaStationMTO {
    width: 638px;
    height: 25px;
    left: 401px;
    top: 720px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 20px
}

div.Legal {
    width: 1305px;
    height: 51px;
    left: 68px;
    top: 948px;
    position: absolute;
    text-align: center
}

a {
    color: #c5e9ff;
    font-size: 18px;
    text-decoration: underline
}

div.title1,div.title2,div.title3,div.title4,div.title5 {
    cursor: pointer;
    width: 184px;
    height: 60px;
    left: 30px;
    top: 34px;
    position: absolute;
    opacity: .4;
    background: linear-gradient(270deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px
}

div.title2,div.title3,div.title4,div.title5 {
    left: 214px
}

div.title3,div.title4,div.title5 {
    left: 398px
}

div.title4,div.title5 {
    left: 582px
}

div.title5 {
    left: 766px
}

div.title10,div.title6,div.title7,div.title8,div.title9 {
    cursor: pointer;
    width: 60px;
    height: 38px;
    left: 91px;
    top: 45px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: Outfit;
    font-weight: 800;
    word-wrap: break-word
}

div.title10,div.title7,div.title8,div.title9 {
    width: 131px;
    left: 240px
}

div.title10,div.title8,div.title9 {
    width: 85px;
    left: 447px
}

div.title10,div.title9 {
    width: 166px;
    left: 591px
}

div.title10 {
    width: 142px;
    left: 787px
}

div.Vector1,div.content {
    width: 976px;
    height: 215px;
    left: -2px;
    top: 101px;
    position: absolute
}

div.Vector1 {
    width: 69.17px;
    height: 58.79px;
    left: 193px;
    top: 401px;
    border-radius: 2px
}

div.Vector2 {
    width: 30px;
    height: 30px;
    border-radius: 1px
}

div.Vector3,div.Vector4 {
    width: 46.67px;
    height: 61.25px;
    left: 1002px;
    top: 400px;
    position: absolute
}

div.Vector4 {
    width: 40px;
    height: 40px;
    left: 610px;
    top: 380px;
    border-radius: 3px
}

div.uvModal {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 1440px;
    height: 1024px;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center
}

div.ground1uvModal {
    width: 970px;
    height: 337px;
    position: relative;
    left: 16%;
    top: 37%
}

div.groun2duvModal {
    width: 970px;
    height: 337px;
    position: absolute;
    opacity: .4;
    background: linear-gradient(90deg,#e1ffad 0,#eaffca 100%);
    border-radius: 33px
}

div.content-bas1 {
    width: 920px;
    height: 187px;
    left: 32px;
    top: 15px;
    position: absolute;
    opacity: .3;
    background: #3fbc38;
    border-radius: 33px
}

div.content-bas2,div.content-bas3 {
    left: 68px;
    position: absolute;
    color: #fff;
    font-family: Outfit;
    word-wrap: break-word
}

div.content-bas2 {
    width: 210px;
    height: 55px;
    top: 33px;
    text-align: center;
    font-size: 30px;
    font-weight: 800
}

div.content-bas3 {
    width: 864px;
    top: 77px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500
}

div.content-modere1 {
    width: 920px;
    height: 187px;
    left: 32px;
    top: 15px;
    position: absolute;
    opacity: .3;
    background: #3fbc38;
    border-radius: 33px
}

div.content-modere2,div.content-modere3 {
    left: 68px;
    position: absolute;
    color: #fff;
    font-family: Outfit;
    word-wrap: break-word
}

div.content-modere2 {
    width: 210px;
    height: 55px;
    top: 33px;
    text-align: center;
    font-size: 30px;
    font-weight: 800
}

div.content-modere3 {
    width: 864px;
    top: 77px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500
}

div.content-haut1 {
    width: 920px;
    height: 187px;
    left: 32px;
    top: 15px;
    position: absolute;
    opacity: .3;
    background: #cba81c;
    border-radius: 33px
}

div.content-haut2,div.content-haut3 {
    left: 68px;
    position: absolute;
    color: #fff;
    font-family: Outfit;
    word-wrap: break-word
}

div.content-haut2 {
    width: 210px;
    height: 55px;
    top: 33px;
    text-align: center;
    font-size: 30px;
    font-weight: 800
}

div.content-haut3 {
    width: 864px;
    top: 77px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500
}

div.content-tres-haut1 {
    width: 920px;
    height: 187px;
    left: 32px;
    top: 15px;
    position: absolute;
    opacity: .3;
    background: #e5571a;
    border-radius: 33px
}

div.content-tres-haut2,div.content-tres-haut3 {
    left: 68px;
    position: absolute;
    color: #fff;
    font-family: Outfit;
    word-wrap: break-word
}

div.content-tres-haut2 {
    width: 210px;
    height: 55px;
    top: 33px;
    text-align: center;
    font-size: 30px;
    font-weight: 800
}

div.content-tres-haut3 {
    width: 864px;
    top: 77px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500
}

div.content-extreme1 {
    width: 920px;
    height: 187px;
    left: 32px;
    top: 15px;
    position: absolute;
    opacity: .3;
    background: #9747ff;
    border-radius: 33px
}

div.content-extreme2,div.content-extreme3,div.pollution-value {
    left: 68px;
    position: absolute;
    color: #fff;
    font-family: Outfit;
    word-wrap: break-word
}

div.content-extreme2 {
    width: 210px;
    height: 55px;
    top: 33px;
    text-align: center;
    font-size: 30px;
    font-weight: 800
}

div.content-extreme3,div.pollution-value {
    width: 864px;
    top: 77px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500
}

div.pollution-value {
    width: 280px;
    height: 89.93px;
    left: 590px;
    top: 455px;
    opacity: .75;
    text-align: center;
    font-size: 100px
}